@model IEnumerable<ProTechTiveGear.Models.Blog>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h2 class="text-center">Tin Tức</h2>
		<p>
			@Html.ActionLink("Thêm mới", "Create")
		</p>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>
							Ảnh
						</th>
						<th>
							Tiêu Đề)
						</th>
						<th>
							Ngày Đăng
						</th>
						<th>
							Chi Tiết
						</th>
						<th>
							Mô Tả
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					@foreach (var item in Model)
					{
						<tr>
							<td>
							<img width="100" height="100" src="~/img/Item/@Html.DisplayFor(modelItem => item.Picture)"/>	
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Title)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateImport)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Describe)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ShortTitle)
							</td>
							<td>
								@Html.ActionLink("Cập Nhập", "Edit", new { id = item.ID }) |
								
								@Html.ActionLink("Xóa", "Delete", new { id = item.ID })
							</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>