@model IEnumerable<ProTechTiveGear.Models.OrderDetailEntity>

@{
	ViewBag.Title = "Comfirm";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h2 class="text-center">Xử Lý</h2>

	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>
							Số Lượng
						</th>
						@*<th>
								@Html.DisplayNameFor(model => model.ItemId)
							</th>*@
						<th>
							Mã Đơn
						</th>
						<th>
							Tổng Giá
						</th>
						<th>
							Sản Phẩm
						</th>
						<th>
							Ảnh
						</th>

					</tr>
					</thead>
				<tbody>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Quantity)
							</td>
							@*<td>
									@Html.DisplayFor(modelItem => item.ItemId)
								</td>*@
							<td>
								@Html.DisplayFor(modelItem => item.OrderID)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Totalprice)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Item.Name)
							</td>
							<td>
								<img width="100" height="100" src=" ~/img/Item/@Html.DisplayFor(modelItem => item.Item.Picture)" />
							</td>
						</tr>
					}

					</tbody>
			</table>
		</div>
	</div>
</div>

<div class="col-md-12">

	@using (Html.BeginForm("Comfirm", "Admin", FormMethod.Post, new
	{
		enctype = "multipart/form-data"
	}))
	{
		@Html.AntiForgeryToken()
    <div class="container" align="center">

        <div class="col-md-5">
            <input type="hidden"
                   id="id"
                   name="id"
                   value="@ViewBag.id"
                   class="form-control" readonly />
        </div>


        <br />
        Xác nhận đã xử lý và giao hàng

        @*@{ var today = String.Format("{0:yyyy-MM-dd}", DateTime.Now);}

        <div class="col-md-5">
            <input type="date"
                   id="date"
                   name="date"
                   min="@today"
                   value="@today"
                   class="form-control" />
        </div>

        <br />*@
        <br />

        <input type="submit" value=" Xác nhận " title="Save" class="btn btn-primary" />



    </div>

	}




</div>
</div>