@model IEnumerable<ProTechTiveGear.Models.OrderEntity>

@{
	ViewBag.Title = "ListOrderClient";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<table class="table">
    <tr>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Ngày giao hàng
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Thanh toán
        </th>
        <th>
            Tên
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

	@foreach (var item in Model)
	{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Orderdate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Deliverydate)
    </td>

    <td>
        @if (item.Status == true)
        {
            <p>Đã giao</p>
        }
        else
        {
            <p>Chưa giao</p>
        }
    </td>
    <td>
        @if (item.Payments.Any())
        {
            <p>Đã thanh toán</p>
        }
        else
        {
            <p>Chưa thanh toán</p>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.EmailAddress)
    </td>


    <td>



        <button type="button" class="pest_btn" data-toggle="collapse" data-target="#@item.ID" aria-expanded="false" data-parent="#myaccordion">

            Chi tiết
        </button>


    </td>
</tr>
		<tr>

			<td colspan="5">

				<div class="card-body collapse hile" data-toggle="collapse" aria-expanded="false" id="@item.ID">
					@Html.Action("ListOrderDetailClient", "AuraStore", new { id = item.ID })
				</div>
			</td>
		</tr>

	}

</table>


